@model Events3.Models.YearlyEvents

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YearlyEvents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialEvents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialEvents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialShabassos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialShabassos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Months)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Months)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parshios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parshios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
