@model IEnumerable<Events3.Models.YearlyEvents>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Schedules</h1>

<p>
    
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SpecialEvents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialShabassos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Months)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parshios)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.LifeEvents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>

        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.StartingDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.StartTime
            </td>
            <td>
                @item.EndingDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.EndTime
            </td>

            <td>
                @item.SpecialEvents
            </td>
            <td>
                @item.SpecialShabassos
            </td>
            <td>
                @item.Months
            </td>
            <td>
                @item.Parshios
            </td>
           
           
            <td>
                @item.LifeEvents
            </td>
            <td>
                @item.EventDescription
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <br>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>
